/*@import "tailwindcss";*/
/*@custom-variant dark (&:where(.dark, .dark *));*/

/* modular UI tokens */
@import "./ui/layout.css";
@import "./ui/surfaces.css";
@import "./ui/typography.css";
@import "./ui/buttons.css";
@import "./ui/header.css";
@import "./ui/menus.css";
@import "./ui/pills.css";
@import "./ui/subjects.css";
@import "./ui/quiz.css";
@import "./ui/sketch.css";
@import "./ui/drag.css";
@import "./ui/ide.css";
